.jewel {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 20px;
  position: absolute;
  transition: top .5s ease, left .5s ease, width .2s, height .2s;
}


.jewel.selected {
  /*perspective: 300px;*/
  /*animation: animate-y 3s infinite linear;*/
}

/*@keyframes animate-y {
  0% { transform: rotateY(0); }
  100% { transform: rotateY(360deg); }
}*/

.jewel:hover {
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.jewel.removed {
  width: 4px;
  height: 4px;
  margin: 28px;
}

.blue {
  background-image: url('../images/blue.png');
  background-repeat: round;
}

.blue.selected {
  background-image: url('../images/blue.gif');
}

.yellow {
  background-image: url('../images/yellow.png');
  background-repeat: round;
}

.yellow.selected {
  background-image: url('../images/yellow.gif');
}

.red {
  background-image: url('../images/red.png');
  background-repeat: round;
}

.red.selected {
  background-image: url('../images/red.gif');
}

.white {
  background-image: url('../images/white.png');
  background-repeat: round;
}

.white.selected {
  background-image: url('../images/white.gif');
}

.pink {
  background-image: url('../images/pink.png');
  background-repeat: round;
}

.pink.selected {
  background-image: url('../images/pink.gif');
}

.orange {
  background-image: url('../images/orange.png');
  background-repeat: round;
}

.orange.selected {
  background-image: url('../images/orange.gif');
}

.green {
  background-image: url('../images/green.png');
  background-repeat: round;
}

.green.selected {
  background-image: url('../images/green.gif');
}
