body {
}

.background {
  position: fixed;
  opacity: 0.3;
  overflow: hidden;
}

main {
  display: flex;
  padding-top: 100px;
}

.controls {
  background-color: wheat;
  width: 300px;
}

#grid {
  background-color: brown;
  /*opacity: 0.3;*/
  width: 500px;
  height: 500px;
  border: 2px solid black;
  border-radius: 5px;
  position: relative;
}

.progress-bar-container {
  background-color: pink;
  height: 400px;
  width: 100%;
}
