body {
}

.background {
  position: fixed;
  opacity: 0.3;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: -1;
}

main {
  display: flex;
  padding-top: 180px;
}

main > div {
  position: relative;
  margin: auto;
  width: 700px;
  display: flex;
}

.logo-container {
  position: absolute;
  width: 640px;
  top: -148px;
}

.controls {
  height: 100%;
  min-height: 500px;
  width: 130px;
  z-index: 0;
  border: 3px solid goldenrod;
  box-shadow: 1px 1px 1px grey;
  background: #b8987c;
  margin-right: 20px;
}

#grid {
  width: 512px;
  height: 500px;
  border: 3px solid goldenrod;
  background-color: black;
  border-radius: 20px;
  position: relative;
  box-shadow: inset 20px -19px 48px -12px rgba(254,2,18, 0.7), inset -20px 19px 48px -12px rgba(254, 2, 18, 0.7)
  -webkit-animation: inner-glow 20s linear infinite;
  -moz-animation: inner-glow 20s linear infinite;
  animation: inner-glow 20s linear infinite;
}


@keyframes inner-glow {
  /*red*/
  0%, 100% {
    box-shadow: inset 20px -19px 48px -12px rgba(254,2,18, 0.7),
    inset -20px 19px 48px -12px rgba(254, 2, 18, 0.7)
  }
  /*orange*/
  15 {
    box-shadow: inset 20px -19px 48px -12px rgba(254, 244, 34, 0.7),
    inset -20px 19px 48px -12px rgba(254, 244, 34, 0.7)
  }
  /*yellow*/
  30 {
    box-shadow: inset 20px -19px 48px -12px rgba(254, 244, 34, 0.7),
    inset -20px 19px 48px -12px rgba(254, 244, 34, 0.7)
  }
  36% {
    box-shadow: inset 20px -19px 48px -12px rgba(7, 220, 29, 0.7),
    inset -20px 19px 48px -12px rgba(7, 220, 29, 0.7)
  }
  55% {
    box-shadow: inset 20px -19px 48px -12px rgba(29,137,253, 0.7),
    inset -20px 19px 48px -12px rgba(29,137,253, 0.7)
  }
}

/*purple*/
/*237, 15, 237*/

.progress-bar-container {
  background-image: url('../images/chest_bottom.png');
  background-repeat: round;
  height: 243px;
  width: 769px;
  position: absolute;
  bottom: -220px;
  left: -20px;
  z-index: -1;
  opacity: 0.37;
}

.progress-bar {
  width: 620px;
  height: 30px;
  margin: 141px auto;
  border: 3px solid goldenrod;
}

#progress {
  background: #0fe018;
  height: 100%;
  width: 0%;
  transition: background-color 0.3s ease;
}

#progress.changing {
  background-color: purple;
}

#points {
  position: absolute;
  color: transparent;
  width: 5px;
  height: 2px;
  color: rgb(255, 215, 0);
  font-size: 0.00000001px;
  transition: font 0.15s linear;
}

#points.showing {
  display: block;
  width:  200px;
  height: 100px;
  opacity: 0.7;
  font-size: 3em;
}

#total-points-display {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-color: black;
  font-size: 27px;
  text-align: center;
  padding-top: 46px;
  box-sizing: border-box;
  border: 2px solid goldenrod;
  color: #1573ec;
}

.icons {
  display: flex;
  justify-content: center;
  bottom: 3%;
  right: 0px;
  left: 0px;
}

.icons > li > a {
  background-color: whitesmoke;
  margin: 20px;
  padding: 10px;
  font-size: 23px;
  border-radius: 50%;
  box-shadow: 1px 0px 1px #484848;
}

.icons > li > a:hover {
  box-shadow: 0px 0px 0px #484848;
}

.icons > li > a > .label {
  display: none;
}

#level-display {
  width: 100%;
  height: 50px;
  background-color: black;
  margin: 10px auto;
  display: block;
  text-align: center;
  font-size: 26px;
  color: #fef422;
  padding: 8px;
  border-radius: 24px;
  box-sizing: border-box;
}

#pause-button {
  width: 80%;
  height: 30px;
  background-color: goldenrod;
  margin: 10px auto;
  display: block;
  text-align: center;
  font-size: 24px;
  color: #663300;
  box-shadow: 2px 1px 1px #484848;

}

#pause-button:hover {
  box-shadow: 1px 0px 1px #484848;
  color: white;
}

#clock {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-color: black;
  font-size: 40px;
  text-align: center;
  padding-top: 40px;
  box-sizing: border-box;
  border: 2px solid goldenrod;
  color: #07dc1d;
}

#modal {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4)
}

#modal-content {
  font-size: 39px;
}

.modal-box {
  position: relative;
  font-size: 22px;
  font-family: cursive;
  width: 300px;
  height: 300px;
  margin: 22% auto;
  background-color: #b8987c;
  color: #663300;
  border-radius: 20px;
  text-align: center;
  padding: 40px;
  border: 3px solid goldenrod;
  box-shadow: 3px 3px 6px 1px #444;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.modal-box > .logo-container- {
  width: 495px;
  position: absolute;
  left: -67px;
  top: -50px;
}
